<% include partials/header %>

    <h1><%= title %></h1>
    <% table.forEach(function(d) { %>
        <ul>
            <li><%= d.id %></li>
            <li><%= d.name %></li>
        </ul>
    <% }) %>
    
    
<% include partials/footer %> 